/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material

 */

 header {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #0B8EC8;
  position: relative;

 }

 .main-header{
   display: inline-block;
   padding-left: 2%;
   font-family: Helvetica;
   font-weight: 100;
   font-size: 40px !important;
   color: white;
 }

 body {

   width: 60% !important;
   margin: 0 auto !important;
   -webkit-box-shadow: 0px 0px 43px 3px rgba(158,158,158,1);
-moz-box-shadow: 0px 0px 43px 3px rgba(158,158,158,1);
box-shadow: 0px 0px 43px 3px rgba(158,158,158,1);
background-color: #DDE9EB;
 }
 nav {
   display: inline-block;
   position: absolute;
   bottom: 4px;
 }

 #pageHeader {
    position: absolute;
    top: 0;
    width: 200px;
    right: 0;
    text-align: right;
    height: 100%;
 }

.wrapper{
border-top: grey 5px solid;
margin: auto;
width: 90%;
padding-bottom: 10px;
}
section.login-info {
  float: right;
  margin-right: 2%;
  color: #DDE9EB;
}

h1 {
  color: #34BEEF;
}

footer {
  background-color: #0B8EC8;
  text-align: center;
  color: white;
  position:absolute;
  bottom:0;
  width: 60%;
}

a:link {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}
